# ignore everything by default
*

# dot config files
!.gitignore
!README.md
# dotfiles 
!.config

# lunar vim
!.config/lvim
!.config/lvim/**/*
.config/lvim/plugin/packer_compiled.lua

# wezterm
!.config/wezterm
!.config/wezterm/*

# i3
!.config/i3
!.config/i3/**/*

