# ignore everything by default
*

# this file
!.gitignore

# dotfiles 
!.config

# lunar vim
!.config/lvim
!.config/lvim/**/*
.config/lvim/plugin/packer_compiled.lua

# wezterm
!.config/wezterm
!.config/wezterm/*

# i3

!.config/i3
!.config/i3/**/*
